# Ignorer les environnements virtuels
venv/
.env

# Ignorer Streamlit secrets
.streamlit/secrets.toml

# Ignorer d'autres configs locales
*.pyc
__pycache__/

# spécifique à macOS
.DS_Store

# Fichier de session Streamlit
session.json
